
<app-header titulo="Notificaciones"></app-header>

<ion-content>
  <ion-item *ngFor="let notification of notifications">
    <ion-avatar slot="start">
        <img src="https://flylinkers.com/media/{{notification.img_src}}">
      </ion-avatar>
    <ion-label>
      <h3 slot="start">{{notification.author}}</h3>
      <p>{{notification.text}}</p>
      <p>{{notification.date | date: 'dd/MM/yyyy'}}</p>
    </ion-label>
  </ion-item>
</ion-content>


<app-tab
  homeColor="flylinkersBlanco"
  networkColor="flylinkersBlanco"
  notificationsColor="flylinkersGrisOscuro"
  messagesColor="flylinkersBlanco"
  newPostColor="flylinkersBlanco"
></app-tab>