<ion-header>
  <ion-toolbar>
    <ion-title>logIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    expand="full"
    size="default"
    routerLink="/fame-gallery"
  >Galeria de la fama</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/founding-partners"
  >Socios fundadores</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/mission-vision"
  >Mision - Vision</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/first100"
  >Primeros 100</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/master-page"
  >Master Page</ion-button>
</ion-content>