<app-header-login
  titulo="FlyLinkers"
  botonIngreso="true"
></app-header-login>

<ion-content
  fullscreen="fullscreen"
  scroll-y="false"
>
  <ion-slides
    #slides
    pager="false"
    class="slidePaginaPrincipal"
  >
    <ion-slide class="ionSlidePaginaPrincipal">
      <ion-grid fixed="fixed">
        <ion-row>
          <ion-col size="12">
            <ion-text color="flylinkersBlanco">
              <h1>FlyLinkers</h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-text color="flylinkersBlanco">
              <h4>
                La mejor red de contactos de aviación
              </h4>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-text color="flylinkersBlanco">
              <h6>
                Es la plataforma interactiva donde la comunidad de la aviación tendrá la oportunidad de intercambiar opiniones, participar en webinars y además tendrá acceso a las últimas noticias, eventos, seminarios e información relevante del sector.
              </h6>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-text>
              <ion-button
                expand=""
                color="flylinkers" 
                routerLink="/register"
              >Únete gratis ahora</ion-button>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <ion-toolbar
    color="flylinkers"
    class="ionToolBarPaginaPrincipal"
  >
    <ion-grid fixed="fixed">
      <ion-row class="ion-text-center">
        <!-- <ion-col size="3">          
          <ion-icon
            size="large"
            name="images"
            routerLink="/fame-gallery"
          ></ion-icon>
          <br>
          Galeria
        </ion-col> -->

        <!-- <ion-col size="3">             
          <ion-icon
            size="large"
            name="people"
            routerLink="/founding-partners"
          ></ion-icon>
          <br>
          Socios  
        </ion-col> -->

        <ion-col size="6">            
          <ion-icon
            size="large"
            name="book"
            routerLink="/mission-vision"
          ></ion-icon>
          <br>
          Nosotros
        </ion-col>

        <ion-col size="6">             
            <ion-icon
              size="large"
              name="body"
              routerLink="/first100"
            ></ion-icon>
            <br>
            Primeros  
          </ion-col>
          
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-content>

<!-- <app-footer-login></app-footer-login> -->