<!-- <app-header-login
  titulo="FlyLinkers"
  botonIngreso="true"
></app-header-login> -->


<ion-header
  no-border="no-border"
>
  <ion-toolbar color="flylinkers">
    <ion-buttons slot="end">
      <ion-button routerLink="/identify" fill="clear">
        <ion-icon name="person"></ion-icon>
      </ion-button>

      <ion-button  fill="clear" (click)="mostrarListaIdiomas( $event )">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>



    <ion-title>FlyLinkers</ion-title>

    <ion-thumbnail slot="start" class="imageLogoBanner">
      <img src="/assets/images/logo.png">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>



<ion-content
  fullscreen="fullscreen"
  scroll-y="false"
>
  <ion-slides
    #slides
    pager="false"
    class="slidePaginaPrincipal"
  >
    <ion-slide class="ionSlidePaginaPrincipal">
      <ion-grid fixed="fixed">
        <ion-row>
          <ion-col size="12">
            <ion-text color="flylinkersBlanco">
              <h1>FlyLinkers</h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-text color="flylinkersBlanco">
              <h4>
                {{ 'mensajeInicial1' | translate }}
              </h4>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-text color="flylinkersBlanco">
              <h6>
                {{ 'mensajeInicial2' | translate }}
              </h6>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-text>
              <ion-button
                expand=""
                color="flylinkers" 
                routerLink="/register"
              >  {{ 'unete' | translate }}</ion-button>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <ion-toolbar
    color="flylinkers"
    class="ionToolBarPaginaPrincipal"
  >
    <ion-grid fixed="fixed">
      <ion-row class="ion-text-center">
        <!-- <ion-col size="3">          
          <ion-icon
            size="large"
            name="images"
            routerLink="/fame-gallery"
          ></ion-icon>
          <br>
          Galeria
        </ion-col> -->

        <!-- <ion-col size="3">             
          <ion-icon
            size="large"
            name="people"
            routerLink="/founding-partners"
          ></ion-icon>
          <br>
          Socios  
        </ion-col> -->

        <ion-col size="6">            
          <ion-icon
            size="large"
            name="book"
            routerLink="/mission-vision"
          ></ion-icon>
          <br>
          {{ 'nosotros' | translate }}
        </ion-col>

        <ion-col size="6">             
            <ion-icon
              size="large"
              name="body"
              routerLink="/first100"
            ></ion-icon>
            <br>
            {{ 'primeros' | translate }}  
          </ion-col>
          
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-content>