<ion-header no-border="no-border">
  <ion-toolbar color="flylinkers">
    <!-- Esta seccion coloca el icono del menu, para 
      que sea desplegado cuando se le da click -->

    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="menu">
            </ion-icon>
          </ion-button> -->
      <!-- Con esta forma no se necesita el click, ya que \
          solo toca indicarle el boton de menu, que menu es el que va 
          a disparar y listo -->

      <ion-menu-button
        color="flylinkersBlanco"
        menu="primerMenu"
      ></ion-menu-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons slot="end">
      <!-- <ion-button color="flylinkersBlanco">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button> -->

      <ion-button color="flylinkersBlanco">
          <ion-icon name="log-out"></ion-icon>
        </ion-button> 
    </ion-buttons>

   
  </ion-toolbar>
</ion-header>