<ion-header
  no-border="no-border"
>
  <ion-toolbar color="flylinkers">
    <ion-buttons
      slot="end"
      *ngIf="botonRegreso"
    >
      <ion-back-button
        text="{{ 'regresar' | translate }}"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end"  *ngIf="botonIngreso">
      <ion-button routerLink="/identify" fill="clear">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>



    <ion-title>{{titulo}}</ion-title>

    <ion-thumbnail slot="start" class="imageLogoBanner">
      <img src="/assets/images/logo.png">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>