<app-header-login
  titulo=" {{ 'misionVision' | translate }}  "
  botonRegreso="true"
  ></app-header-login>

<ion-content>
  <ion-list>
    <ion-item lines = "none"></ion-item>
    <ion-item lines = "none">
      <img src="/assets/images/logo-horizontal.png">
    </ion-item>
    <ion-item lines = "none"></ion-item>
    <ion-item lines = "none">
      <ion-label
        text-wrap="text-wrap"
        class="ion-text-justify"
      >
        <p>
          <span>
            <strong> {{ 'mision' | translate }} -&nbsp;</strong>
          </span>

          <em>
            <strong>FlyLinkers</strong>
          </em>

          {{ 'misionParte1' | translate }}

          <br>
          <br>

          <span>
            <strong>{{ 'vision' | translate }} -&nbsp;</strong>
          </span>

          <em>
            <strong>FlyLinkers</strong>
          </em>

          {{ 'visionParte1' | translate }}

          <br>
          {{ 'visionParte2' | translate }}

          <br>
          <br>
          • {{ 'visionVineta1' | translate }}

          <br>
          • {{ 'visionVineta2' | translate }}

          <br>
          • {{ 'visionVineta3' | translate }}

          <br>
          • {{ 'visionVineta4' | translate }}

          <br>
          • {{ 'visionVineta5' | translate }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-footer></app-footer>

 
</ion-content>

