<app-header-login
  titulo="Mision y Vision"
  botonRegreso="true"
></app-header-login>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label
        text-wrap="text-wrap"
        class="ion-text-justify"
      >
        <p>
          <span>
            <strong>MISIÓN -&nbsp;</strong>
          </span>

          <em>
            <strong>FlyLinkers</strong>
          </em>

          es una plataforma virtual interactiva que genera una red especializada para ejecutivos y profesionales de la comunidad aeronáutica de todo el mundo.

          <br>
          <br>

          <span>
            <strong>VISIÓN -&nbsp;</strong>
          </span>

          <em>
            <strong>FlyLinkers</strong>
          </em>

          será la plataforma líder dentro de la comunidad aeronáutica que brindará a sus usuarios la mejor conexión entre ellos y poder acceder a información relevante de la aviación. Su agenda se centra en el progreso y la prosperidad de la aviación civil a través del fortalecimiento de las relaciones entre profesionales de todo el mundo en un entorno amigable, serio y que apoya el progreso y la innovación en el sector.

          <br>
          FlyLinkers proporcionará una plataforma única para:

          <br>
          <br>
          • Intercambiar ideas y mostrar soluciones innovadoras.

          <br>
          • Acceder a las noticias más relevantes de la industria aérea con enlaces directos a medios de comunicación claves para el transporte aéreo.

          <br>
          • Incrementar la visibilidad profesional y la influencia en el sector.

          <br>
          • Interactuar virtualmente con otros miembros.

          <br>
          • Destacar las habilidades profesionales del usuario.
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

 
</ion-content>

<app-footer></app-footer>