<app-header titulo="Perfil"></app-header>

<ion-content padding="padding">
    <form #formulario="ngForm">
        <ion-list>
            <ion-item class="bordeado">
                <ion-grid fixed="fixed">
                    <ion-row class="ion-text-center">
                        <ion-col size="12">
                            <ion-avatar class="image-center top-margin-20">
                                <img src="https://flylinkers.com/media/{{(userData.image_perfil !== '' )? userData.image_perfil : 'avatar_2x.png' }}">
                            </ion-avatar>

                            <h3>{{userData.fistName}} {{userData.lastName}}</h3>

                            <h2>{{userData.profession}}</h2>

                            <p color="flylinkers">{{userData.headline}}</p>

                            <p>   
                                <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
                                {{userData.residence_country}}
                            </p>

                            <ion-button
                                color="flylinkers"
                                fill="outline"
                                size="small"
                                routerLink="/profile-edit"
                            >Editar perfil</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <br>
  
            <ion-card style="width: 100%; margin: 0px !important; border-radius: 2px;" color="flylinkers">
                <ion-item
                    color="FlyLinkers-Blanco"
                    (click)="showHideSkills()"
                >
                    <ion-label>Habilidades ({{userSkills.length}})</ion-label>
                    <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
                    

                </ion-item>
            
                <ion-card-content
                    [hidden]="hiddenSkills"
                    style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;"
                >
                    <ion-item *ngFor="let skills of userSkills;">
                        <ion-label>
                            <h3>{{skills.skill_description}}</h3>
                        </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
            <br>
            <ion-card style="width: 100%; margin: 0px !important; border-radius: 2px;" color="flylinkers">
                <ion-item
                    color="FlyLinkers-Blanco"
                    (click)="showHideExperiences()"
                >
                    <ion-label>Experiencias ({{userExperiences.length}})</ion-label>
            
                    <ion-icon ios="ios-eye" md="md-eye"></ion-icon>

                </ion-item>
            
                <ion-card-content
                    [hidden]="hiddenExperiences"
                    style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;"
                >
                    <ion-item *ngFor="let experiences of userExperiences;">
                        <ion-label>
                            <h3>{{experiences.title}}</h3>
                        </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
            <br>
            <ion-card style="width: 100%; margin: 0px !important; border-radius: 2px;" color="flylinkers">
                <ion-item
                    color="FlyLinkers-Blanco"
                    (click)="showHideAccomplishments()"
                >
                    <ion-label>Logros ({{userAccomplishments.length}})</ion-label>
            
                    <ion-icon ios="ios-eye" md="md-eye"></ion-icon>

                </ion-item>
            
                <ion-card-content
                    [hidden]="hiddenAccomplishments"
                    style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;"
                >
                    <ion-item *ngFor="let accomplishments of userAccomplishments;">
                        <ion-label>
                            <h3>{{accomplishments.accomplishment_description}}</h3>
                        </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>

            <br>
            <ion-card style="width: 100%; margin: 0px !important; border-radius: 2px;" color="flylinkers">
                <ion-item
                    color="FlyLinkers-Blanco"
                    (click)="showHideInterests()"
                >
                    <ion-label>Intereses ({{userInterests.length}})</ion-label>
            
                    <ion-icon ios="ios-eye" md="md-eye"></ion-icon>

                </ion-item>
            
                <ion-card-content
                    [hidden]="hiddenInterests"
                    style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;"
                >
                    <ion-item *ngFor="let interests of userInterests;">
                        <ion-label>
                            <h3>{{interests.interest_description}}</h3>
                        </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>

            <br>
            <ion-card style="width: 100%; margin: 0px !important; border-radius: 2px;" color="flylinkers">
                <ion-item
                    color="FlyLinkers-Blanco"
                    (click)="showHideEvents()"
                >
                    <ion-label>Eventos (8)</ion-label>
                    <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                </ion-item>
            
                <ion-card-content
                    [hidden]="hiddenEvents"
                    style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;"
                >
                    <ion-item *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
                        <ion-label>
                            <h3>Nombre evento</h3>
                            <h3>Url evento</h3>
                            <h5>Location</h5>
                        </ion-label>
                        <ion-label slot="end" text-right>
                            <p>Inicio: 21/09/2019</p>
                            <p>Fin: 30/09/2019</p>
                        </ion-label>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </form>
</ion-content>

<app-tab></app-tab>