input:disabled {
  color: red !important;
}

.marginTop {
  margin-top: 16px;
}

.marginBottom {
  margin-bottom: 10px;
}

.h1 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.h6 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}
