
.marginTop {
  margin-top: 16px;
}

.marginBottom {
  margin-bottom: 10px;
}

.h1 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2;
}

.h2 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
}

.h3 {
  font-size: 1.17em;
  font-weight: 500;
  line-height: 1.2;
}

.h4 {
  margin-top: 1.33em;
  font-weight: 500;
  line-height: 1.2;
}

.h5 {
  font-size: .83em;
  font-weight: 500;
  line-height: 1.2;
}

.h6 {
  font-size: .67em;
  font-weight: 500;
  line-height: 1.2;
}


.p{
  font-size: 13px;
}
 