<app-header titulo="{{ 'redContactos' | translate }}"></app-header>

<ion-content style="width: 100%; margin: 0px !important;">
  <!-- SOLICITUDES DE CONEXION RECIBIDAS -->

  <ion-card style="width: 100%; margin: 0px !important; border-radius: 0px;">
    <ion-item
      color="flylinkers"
      (click)="showHideRequest()"
    >

      <ion-label>{{ 'solicitudesRecibidas' | translate }} ({{totalSolicitudesRecibidas}})</ion-label>

      <ion-button
        color="light"
        fill="outline"
        slot="end"
      >{{ 'verTodas' | translate }}</ion-button>
    </ion-item>

    <ion-card-content
      [hidden]="hiddenRequests"
      style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;"
    >
      <ion-item *ngFor="let solicitud of solicitudesRecibidas">
        <ion-avatar slot="start">
          <img src="https://flylinkers.com/media/{{(solicitud.image_perfil !== '' )? solicitud.image_perfil : 'avatar_2x.png' }}">
        </ion-avatar>

        <ion-label>
          <h3>{{solicitud.fistName}}  {{solicitud.lastName}}</h3>

          <p>{{solicitud.profession}}</p>
        </ion-label>

        <ion-icon
          name="close-circle"
          slot="end" 
          (click)="aceptarSolicitudAmistad(solicitud.pk,false)"
        ></ion-icon>

        <ion-icon
          name="checkmark-circle"
          slot="end" 
          (click)="aceptarSolicitudAmistad(solicitud.pk,true)"
        ></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- SOLICITUDES DE CONEXION ENVIADAS -->

  <ion-card style="width: 100%; margin: 0px !important; border-radius: 0px;">
    <ion-item
      color="flylinkers"
      (click)="showHideRequestReceived()"
    >
      <ion-label>{{ 'solicitudesEnviadas' | translate }} ({{totalSolicitudesEnviadas}})</ion-label>

      <ion-button
        color="light"
        fill="outline"
        slot="end"
      >{{ 'verTodas' | translate }}</ion-button>
    </ion-item>

    <ion-card-content
      [hidden]="hiddenRequestsReceived"
      style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;"
    >
      <ion-item *ngFor="let solicitud of solicitudesEnviadas">
        <ion-avatar slot="start">
          <img src="https://flylinkers.com/media/{{(solicitud.image_perfil !== '' )? solicitud.image_perfil : 'avatar_2x.png' }}">
        </ion-avatar>

        <ion-label>
          <h3>{{solicitud.fistName}} {{solicitud.lastName}}</h3>

          <p>{{solicitud.profession}}</p>
        </ion-label>

        <ion-icon
          name="close-circle"
          slot="end"
          (click)="cancelarSolicitudAmistad(solicitud.pk)" 
        ></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- LISTA DE CONEXIONES -->

  <ion-card style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;">
    <ion-item
      color="flylinkers"
      (click)="showHideContacts()"
    >
      <ion-label>{{ 'tusConexiones' | translate }} ({{totalContactos}})</ion-label>

      <ion-button
        color="light"
        fill="outline"
        slot="end"
      >{{ 'verTodas' | translate }}</ion-button>
    </ion-item>

    <ion-card-content
      [hidden]="hiddenContact"
      style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;"
    >
      <ion-grid>
        <ion-row>
          <ion-col
            size="6"
            *ngFor="let contacto of contactos;"
          >
            <ion-card
              mode="ios"
              style="width: 100%; margin: 0px !important; border-radius: 10px; padding: 0px !important;"
              class="ion-text-center"
            >
              <ion-card-header color="flylinkers">
                <div style="width: 100%; text-align: right;">
                  <ion-icon
                    name="close-circle"
                    slot="end"
                    (click)="eliminarAmistad(contacto.sender, contacto.receiver)" 
                  ></ion-icon>
                </div>
              </ion-card-header>

              <ion-card-content>
                <ion-avatar
                  slot="start"
                  class="image-center top-margin-10"
                >
                <img src="https://flylinkers.com/media/{{(contacto.image_perfil !== '' )? contacto.image_perfil : 'avatar_2x.png' }}">
                </ion-avatar>

                <div style="width: 100%; text-align: center;">
                  <h2>{{contacto.fistName | slice:0:13}}</h2>
                </div>
                <div style="width: 100%; text-align: center;">
                  <h2>{{contacto.lastName | slice:0:13}}</h2>
                </div>

                <div style="width: 100%; text-align: center;">
                  <p *ngIf=" contacto.profession !== ''" > {{contacto.profession | slice:0:13}}</p>
                  <p *ngIf=" contacto.profession == ''" > {{contacto.headline | slice:0:13}}</p>
                </div>

                <ion-button
                  color="flylinkers"
                  fill="outline"
                  size="small"
                  (click)="viewProfile(contacto.id_contact)"
                >{{ 'verPerfil' | translate }}</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- LISTADO DE POSIBLES NUEVOS CONTACTOS -->

  <ion-card style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;">
    <ion-item color="flylinkers">
      <ion-icon
        color="light"
        name="people"
        slot="start"
      ></ion-icon>

      <ion-label>
        {{ 'conectaGente' | translate }}
      </ion-label>
    </ion-item>

    <ion-card-content style="width: 100%; margin: 0px !important; border-radius: 0px; padding: 0px;">
      <ion-grid>
        <ion-row>
          <ion-col
            size="6"
            *ngFor="let contactos of contactosConectar;"
          >
            <ion-card
              mode="ios"
              style="width: 100%; margin: 0px !important; border-radius: 10px; padding: 0px !important;"
              class="ion-text-center"
            >
              <ion-card-header color="flylinkers"></ion-card-header>

              <div style="width: 100%; text-align: center;">
                <ion-avatar
                  slot="start"
                  class="image-center top-margin-10"
                  (click)="viewProfile(contactos.pk)"
                >
                <img src="https://flylinkers.com/media/{{(contactos.image_perfil !== '' )? contactos.image_perfil : 'avatar_2x.png' }}">
                </ion-avatar>
              </div>
              
              <div style="width: 100%; text-align: center;">
                <h2>{{contactos.fistName | slice:0:15}}</h2>
              </div>
              <div style="width: 100%; text-align: center;">
                <h2>{{contactos.lastName | slice:0:15}}</h2>
              </div>
              

              <ion-item lines="none">
                <div style="width: 100%; text-align: center;">
                  <p *ngIf=" contactos.profession !== ''" > {{contactos.profession | slice:0:15}}</p>
                  <p *ngIf=" contactos.profession == ''" > {{contactos.headline | slice:0:15}}</p>
                </div>
              </ion-item>

              <ion-button
                color="flylinkers"
                fill="outline"
                size="small"
                (click)="enviarSolicitudAmistad(contactos.pk)"
                >{{ 'conectar' | translate }}</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-tab
  homeColor="flylinkersBlanco"
  networkColor="flylinkersGrisOscuro"
  notificationsColor="flylinkersBlanco"
  messagesColor="flylinkersBlanco"
  newPostColor="flylinkersBlanco"
></app-tab>