// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  /*FlyLinkers*/

  --ion-color-flylinkers: #1a9aaf;
  --ion-color-flylinkers-rgb: 26,154,175;
  --ion-color-flylinkers-contrast: #ffffff;
  --ion-color-flylinkers-contrast-rgb: 255,255,255;
  --ion-color-flylinkers-shade: #17889a;
  --ion-color-flylinkers-tint: #31a4b7;

  /*FlyLinkers-Gris*/
  --ion-color-flylinkersGris: #eef2f3;
  --ion-color-flylinkersGris-rgb: 238,242,243;
  --ion-color-flylinkersGris-contrast: #000000;
  --ion-color-flylinkersGris-contrast-rgb: 0,0,0;
  --ion-color-flylinkersGris-shade: #d1d5d6;
  --ion-color-flylinkersGris-tint: #f0f3f4;


   /*FlyLinkers-Gris-Oscuro*/
   --ion-color-flylinkersGrisOscuro: #c0c0c0;
   --ion-color-flylinkersGrisOscuro-rgb: 192,192,192;
   --ion-color-flylinkersGrisOscuro-contrast: #000000;
   --ion-color-flylinkersGrisOscuro-contrast-rgb: 0,0,0;
   --ion-color-flylinkersGrisOscuro-shade: #a9a9a9;
   --ion-color-flylinkersGrisOscuro-tint: #c6c6c6;


  /*FlyLinkers-Blanco*/
  --ion-color-flylinkersBlanco: #ffffff;
  --ion-color-flylinkersBlanco-rgb: 255,255,255;
  --ion-color-flylinkersBlanco-contrast: #000000;
  --ion-color-flylinkersBlanco-contrast-rgb: 0,0,0;
  --ion-color-flylinkersBlanco-shade: #e0e0e0;
  --ion-color-flylinkersBlanco-tint: #ffffff;


  /*FlyLinkers-Negro*/
  --ion-color-flylinkersNegro: #000000;
  --ion-color-flylinkersNegro-rgb: 0,0,0;
  --ion-color-flylinkersNegro-contrast: #ffffff;
  --ion-color-flylinkersNegro-contrast-rgb: 255,255,255;
  --ion-color-flylinkersNegro-shade: #000000;
  --ion-color-flylinkersNegro-tint: #1a1a1a;
}

/*FlyLinkers*/
.ion-color-flylinkers {
  --ion-color-base: var(--ion-color-flylinkers) !important;
  --ion-color-base-rgb: var(--ion-color-flylinkers-rgb) !important;
  --ion-color-contrast: var(--ion-color-flylinkers-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-flylinkers-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-flylinkers-shade) !important;
  --ion-color-tint: var(--ion-color-flylinkers-tint) !important;
}


/*FlyLinkers Gris*/
.ion-color-flylinkersGris {
  --ion-color-base: var(--ion-color-flylinkersGris) !important;
  --ion-color-base-rgb: var(--ion-color-flylinkersGris-rgb) !important;
  --ion-color-contrast: var(--ion-color-flylinkersGris-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-flylinkersGris-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-flylinkersGris-shade) !important;
  --ion-color-tint: var(--ion-color-flylinkersGris-tint) !important;
}

/*FlyLinkers Gris*/
.ion-color-flylinkersGrisOscuro {
  --ion-color-base: var(--ion-color-flylinkersGrisOscuro) !important;
  --ion-color-base-rgb: var(--ion-color-flylinkersGrisOscuro-rgb) !important;
  --ion-color-contrast: var(--ion-color-flylinkersGrisOscuro-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-flylinkersGrisOscuro-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-flylinkersGrisOscuro-shade) !important;
  --ion-color-tint: var(--ion-color-flylinkersGrisOscuro-tint) !important;
}


/*FlyLinkers Blanco*/
.ion-color-flylinkersBlanco {
  --ion-color-base: var(--ion-color-flylinkersBlanco) !important;
  --ion-color-base-rgb: var(--ion-color-flylinkersBlanco-rgb) !important;
  --ion-color-contrast: var(--ion-color-flylinkersBlanco-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-flylinkersBlanco-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-flylinkersBlanco-shade) !important;
  --ion-color-tint: var(--ion-color-flylinkersBlanco-tint) !important;
}



/*FlyLinkers Negro*/
.ion-color-flylinkersNegro {
  --ion-color-base: var(--ion-color-flylinkersNegro) !important;
  --ion-color-base-rgb: var(--ion-color-flylinkersNegro-rgb) !important;
  --ion-color-contrast: var(--ion-color-flylinkersNegro-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-flylinkersNegro-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-flylinkersNegro-shade) !important;
  --ion-color-tint: var(--ion-color-flylinkersNegro-tint) !important;
}
