<app-header-login
  titulo="Registro"
  botonRegreso="true"
></app-header-login>

<ion-content padding="padding">
  <!-- Con el position floating da el efecto de materalized, en 
          donde se selecciona la caja de texto, y sube el texto como el placeholder -->

  <form
    #formulario="ngForm"
    (ngSubmit)="registerUser()"
  >
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>

        <ion-input
          name="email"
          type="email"
          required="required"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
          [(ngModel)]="nuevoUsuario.email"
          title="Se necesita tu correo electronico"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>

        <ion-input
          type="Password"
          name="password"
          required="required"
          [(ngModel)]="nuevoUsuario.password1" 
          pattern="[A-Za-z0-9@#$%^&+=]{8,}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>

        <ion-input
          type="Password"
          name="password"
          required="required"
          [(ngModel)]="nuevoUsuario.password2"
          pattern="[A-Za-z0-9@#$%^&+=]{8,}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>

        <ion-input
          type="text"
          name="nombre"
          required="required"
          [(ngModel)]="nuevoUsuario.first_name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>

        <ion-input
          type="text"
          name="apellido"
          required="required"
          [(ngModel)]="nuevoUsuario.last_name"
        ></ion-input>
      </ion-item>
    </ion-list>

    <!-- El fixed agrega unos espacios y margenes a los lados del GRID o 
  tabla -->

    <ion-grid fixed="fixed">
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center">
            <ion-label
              text-wrap="text-wrap"
              class="ion-text-justify"
            >
              Al dar click en Crear Cuenta, aceptas los Términos de Uso y las Políticas de Privacidad y Cookies
            </ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button
            expand="full"
            color="flylinkers"
            type="submit"
            [disabled]="formulario.invalid"
          >Crear cuenta</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<app-footer></app-footer>