<app-header titulo="{{ 'misPublicaciones' | translate }}"></app-header>

<!--POR CADA POST DISPONIBLE SE ESTRUCTURA SU INFORMACION-->
<ion-content class="cards-bg social-cards">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPost($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="posts.length === 0 && yaSeConsultoNoticias === true">
    <ion-item lines="none">
      <h5 slot="start">{{ "noNoticiasQueMostrarTitulo" | translate }}</h5>
    </ion-item>
    <ion-card-content>
      {{ "noNoticiasQueMostrarDescripcion" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card
    *ngFor="let post of posts.slice(0, totalContactosAMostrarEnListado);"
  >
    <ion-item>
      <!-- IMAGEN EL USUARIO QUE PUBLICA EL POST-->
      <ion-avatar slot="start" (click)="viewProfile(post.author_id)">
        <img
          src="https://flylinkers.com/media/{{
            post.author_image_perfil !== ''
              ? post.author_image_perfil
              : 'avatar_2x.png'
          }}"
        />
      </ion-avatar>
      <ion-label (click)="viewProfile(post.author_id)">
        <!-- NOMBRES Y PROFESION DEL USUARIO QUE PUBLICO EL POST-->
        <h3 slot="start">
          {{ post.author_fistName }} {{ post.author_lastName }}
        </h3>
        <p>{{ post.author_profession }}</p>
        <!--FECHA DE LA PUBLICACION-->
        <p>{{ post.publication_date}}</p>
      </ion-label>

      <!--PUNTOS SUSPENSIVOS PARA OPCIONES ADICIONALES, DADO EL CASO DE QUE SEA EL USUARIO QUE PUBLICO EL POST-->
      <ion-icon
        slot="end"
        name="more"
        *ngIf="post.author_id === codeUser"
        (click)="presentActionSheet(post.id_new)"
      ></ion-icon>

      <!--PUNTOS SUSPENSIVOS PARA OPCIONES ADICIONALES, DADO EL CASO DE NO SEA EL USUARIO QUIEN PUBLICO EL POSTS-->
      <ion-icon
        slot="end"
        name="more"
        *ngIf="post.author_id !== codeUser"
        (click)="presentActionSheetNotUser(post.id_new)"
      ></ion-icon>
    </ion-item>
    <!--TITULO DEL POST O PUBLICACION-->
    <ion-item lines="none" *ngIf="post.title !== null">
      <h5 slot="start" *ngIf="post.title.length > 301">
        {{ post.title | slice: 0:301 }} .....
      </h5>
      <h5 slot="start" *ngIf="post.title.length <= 301">{{ post.title }}</h5>
    </ion-item>
    <!--CONTENIDO DEL POST O DE LA PUBLICACION-->
    <ion-card-content *ngIf="post.content !== null">
      <span *ngIf="post.content.length > 301"
        >{{ post.content | slice: 0:301 }} .....</span
      >
      <span *ngIf="post.content.length <= 301">{{ post.content }}</span>
    </ion-card-content>

    <!--INFORMACION DE LA URL EXTERNA QUE SE PUBLICO-->
    <ion-item
      (click)="openPage(post.external_url_new)"
      lines="none"
      *ngIf="
        (post.metadataImage !== '/' || post.metadataImage !== '/') &&
        post.image_new === '' &&
        post.external_url_new !== ''
      "
      ><!--  -->
      <!--       <ion-img [src]="post.metadataImage" style="width: 350px; height: auto;">
      </ion-img> -->

      <img [src]="post.metadataImage" style="width: 350px; height: auto;" />
    </ion-item>

    <!--TITULO INFORMACION DE LA URL EXTERNA QUE SE PUBLICO-->
    <ion-item
      (click)="openPage(post.external_url_new)"
      lines="none"
      *ngIf="post.metadataTitle && post.external_url_new !== ''"
    >
      <p *ngIf="post.metadataTitle.length > 301">
        {{ post.metadataTitle | slice: 0:301 }} .....
      </p>
      <p *ngIf="post.metadataTitle.length <= 301">
        {{ post.metadataTitle }}
      </p>
    </ion-item>

    <!--DESCRIPCION INFORMACION DE LA URL EXTERNA QUE SE PUBLICO-->
    <ion-item
      (click)="openPage(post.external_url_new)"
      lines="none"
      *ngIf="post.metadataDescription && post.external_url_new !== ''"
    >
      <p *ngIf="post.metadataDescription.length > 301">
        {{ post.metadataDescription | slice: 0:301 }} .....
      </p>
      <p *ngIf="post.metadataDescription.length <= 301">
        {{ post.metadataDescription }}
      </p>
    </ion-item>

    <ion-item
      *ngIf="post.external_url_new !== undefined && post.external_url_new !== 'undefined' && 
    post.external_url_new !== null && post.external_url_new !== 'null' && 
    post.external_url_new !== ''"
    >
      <a
        target="_blank"
        style="text-decoration: none;"
        [href]="post.external_url_new"
      >
        {{ "verFuenteOriginal" | translate }}
      </a>
    </ion-item>

    <!--END INFORMACION DE LA URL EXTERNA QUE SE PUBLICO-->

    <ion-item
      lines="none"
      (click)="openDetailPost(post.id_new)"
      *ngIf="post.content !== null"
    >
      <ion-label slot="start" color="primary" *ngIf="post.content.length > 301">
        <h5>
          {{ "verMas" | translate }}
        </h5>
      </ion-label>
    </ion-item>

    <!--IMAGEN DEL POST O PUBLICACION -->
    <ion-item lines="none" *ngIf="post.image_new !== ''">
      <!--   <ion-img
        src="https://flylinkers.com/media/{{ post.image_new }}"
      ></ion-img> -->

      <img src="https://flylinkers.com/media/{{ post.image_new }}" />
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item
            *ngIf="post.likes > 0"
            (click)="openDetailLikesPost(post.id_new)"
          >
            <ion-icon class="iconLikes" name="heart" color="flylinkersRojo"></ion-icon>
            <ion-label class="iconLikesText">{{ post.likes }} {{ "likes" | translate }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--TOTAL DE COMENTARIOS, LIKES Y OPCIONES DEL POST-->
    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-6>
          <!--MUESTRA EL CORAZON DEL LIKE PINTATO O NO SEGUN SI EL USUARIO YA DIO LIKE A LA PUBLICACION-->
          <ion-item *ngIf="!post.liked_by_user[0]" lines="none">
            <ion-icon
              name="heart-empty"
              (click)="generarLikePost(post.id_new)"
            ></ion-icon>
          </ion-item>
          <ion-item *ngIf="post.liked_by_user[0]" lines="none">
            <ion-icon
              name="heart"
              color="flylinkersRojo"
              (click)="generarLikePost(post.id_new)"
            ></ion-icon>
          </ion-item>
        </ion-col>
        <!--INDICA LA CANTIDAD DE COMENTARIOS DE LA PUBLICACION-->
        <ion-col col-6 (click)="openDetailPost(post.id_new)">
          <ion-item lines="none">
            <ion-icon name="text"></ion-icon>
            <div *ngIf="post.count_comments > 0">{{ post.count_comments }}</div>
          </ion-item>
        </ion-col>
        <!--OPCION DE COMPARTIR LA PUBLICACION-->
<!--         <ion-col col-4>
          <ion-item lines="none">
            <ion-icon
              name="md-share"
              (click)="
              sharedPost(
                post.content,
                post.external_url_new,
                post.image_new,
                post.title
              )
            "
            ></ion-icon>
          </ion-item>
        </ion-col> -->
      </ion-row>
    </ion-grid>
    <!--END TOTAL DE COMENTARIOS, LIKES Y OPCIONES DEL POST-->
  </ion-card>

  <!-- Cada cuantos pixeles se quiere cargar nueva informacion -->

  <br />

  <ion-infinite-scroll
    threshold="150px"
    (ionInfinite)="loadMorePostByLimits($event)"
  >
    <!-- Icono que aparece del cargando junto con el texto ,
           var la documentacion en las properties donde indican 
           todos los iconos de cargado disponibles -->

    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="{{ 'cargandoMasInformacion' | translate }}"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<app-tab
  homeColor="flylinkersGrisOscuro"
  networkColor="flylinkersBlanco"
  notificationsColor="flylinkersBlanco"
  messagesColor="flylinkersBlanco"
  newPostColor="flylinkersBlanco"
></app-tab>
