<app-header-login titulo="{{ 'experiencia' | translate }}"></app-header-login>

<ion-content padding="padding">
  <!-- Con el position floating da el efecto de materalized, en 
          donde se selecciona la caja de texto, y sube el texto como el placeholder -->

  <form
    #formulario="ngForm"
    (ngSubmit)="enviarDatosAlFormulario()"
  >
    <ion-list>
      <ion-item>
        <ion-label position="floating">{{ 'titulo' | translate }}</ion-label>

        <ion-input
          name="title"
          type="text"
          required="required"
          [(ngModel)]="experiencia.title"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'empresa' | translate }}</ion-label>

        <ion-input
          type="text"
          name="company"
          required="required"
          [(ngModel)]="experiencia.company"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'ubicacion' | translate }}</ion-label>

        <ion-input
          type="text"
          name="location"
          required="required"
          [(ngModel)]="experiencia.location"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'fechaInicio' | translate }}</ion-label>

        <ion-datetime
          placeholder="{{ 'elijaFechaInicio' | translate }}"
          display-format="YYYY MMMM DD"
          cancelText="{{ 'cancelar' | translate }}"
          [(ngModel)]="experiencia.init_date"
          name="init_date"
          [pickerOptions]="customPickerOptionsInicial"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'fechaFin' | translate }}</ion-label>

        <ion-datetime
          placeholder="{{ 'elijaFechaFin' | translate }}"
          display-format="YYYY MMMM DD"
          cancelText="{{ 'cancelar' | translate }}"
          [(ngModel)]="experiencia.end_date"
          name="end_date"
          [pickerOptions]="customPickerOptionsFinal"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'trabajandoActualmente' | translate }}</ion-label>

        <ion-select
          placeholder="{{ 'seleccione' | translate }}"
          name="currently_working"
          [(ngModel)]="experiencia.currently_working"
        >
          <ion-select-option value="False">{{ 'no' | translate }}</ion-select-option>

          <ion-select-option value="True">{{ 'si' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'titular' | translate }}</ion-label>

        <ion-textarea
          name="headline_experience"
          [(ngModel)]="experiencia.headline_experience"
        ></ion-textarea>
      </ion-item>


      <ion-item>
        <ion-label position="floating">{{ 'descripcion' | translate }}</ion-label>

        <ion-textarea
          name="description_experience"
          [(ngModel)]="experiencia.description_experience"
        ></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-grid fixed="fixed">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-button
            color="flylinkers"
            type="submit"
            [disabled]="formulario.invalid"
            expand="full"
          >{{ 'guardarExperiencia' | translate }}</ion-button>
        </ion-col>

        <ion-col size="12">
          <ion-button
            color="flylinkers"
            (click)="cerrarModal()"
            expand="full"
          >{{ 'cancelar' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<app-footer></app-footer>