<app-header></app-header>


<ion-content style="width: 100%; margin: 0px !important;">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="this.helperService.isValidValue(this.urlBack)">
    <ion-fab-button  size="small"  color="flylinkers" (click)="backToPrevPage()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card>
    <!--INFORMACION DEL AUTOR DE LA PUBLICACION-->
    <ion-item>
      <!--SI NO TIENE IMAGEN DE PERFIL-->
      <ion-avatar
        slot="start"
        (click)="viewProfile(post.author_id)"
        *ngIf="!this.helperService.isValidValue(post.author_image_perfil)"
      >
        <img src="https://flylinkers.com/media/avatar_2x.png" />
      </ion-avatar>
      <!--SI TIENE IMAGEN DE PERFIL-->
      <ion-avatar
        slot="start"
        (click)="viewProfile(post.author_id)"
        *ngIf="this.helperService.isValidValue(post.author_image_perfil)"
      >
        <img
          src="https://flylinkers.com/media/{{(post.author_image_perfil !== '' )? post.author_image_perfil: 'avatar_2x.png' }}"
        />
      </ion-avatar>

      <ion-label (click)="viewProfile(post.author_id)">
        <h3 slot="start">
          {{post.author_fistName}} {{post.author_lastName}}
        </h3>

        <p>{{post.author_profession}}</p>
        <p>{{post.publication_date | date: 'dd/MM/yyyy'}}</p>
      </ion-label>

      <ion-icon
        slot="end"
        name="more"
        (click)="presentActionSheet(post.id_new)"
        *ngIf="post.author_id === codeUser"
      ></ion-icon>
    </ion-item>
    <!--END INFORMACION DEL AUTOR DE LA PUBLICACION-->

    <!--INFORMACION DE LA PUBLICACION-->
    <ion-item lines="none" *ngIf="post.title !== null">
      <h5 slot="start">{{ post.title }}</h5>
    </ion-item>

    <ion-card-content *ngIf="post.content !== null"  style=" white-space: pre-line;"
      > 
        <!--Con esto se reconoce los enters del texto-->     
        <div style="white-space: pre-line" class="ion-text-justify">{{post.content}}</div> 
      </ion-card-content
    >

    <ion-item
      lines="none"
      *ngIf="this.helperService.isValidValue(post.image_new)"
    >
      <ion-img src="https://flylinkers.com/media/{{post.image_new}}"></ion-img>
    </ion-item>

    <ion-item
      lines="none"
      *ngIf="((post.metadataImage !== '/' || post.metadataImage !== '/') && post.image_new === '') && post.external_url_new !=='' "
    >
      <ion-img
        [src]="post.metadataImage"
        style="width: 350px; height: auto;"
      ></ion-img>
    </ion-item>

    <ion-item
      lines="none"
      *ngIf="post.metadataTitle && post.external_url_new !==''"
    >
      <p>{{post.metadataTitle}}</p>
    </ion-item>

    <ion-item
      lines="none"
      *ngIf="post.metadataDescription && post.external_url_new !==''"
    >
      <p>{{post.metadataDescription}}</p>
    </ion-item>

    <ion-item *ngIf='this.helperService.isValidValue(post.external_url_new)'>
      <a
        target="_blank"
        style="text-decoration: none;"
        [href]="post.external_url_new"
      >
        {{ "verFuenteOriginal" | translate }}
      </a>
    </ion-item>

    <!--END INFORMACION DE LA PUBLICACION-->

    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item
            *ngIf="post.likes > 0"
            (click)="openDetailLikesPost(post.id_new)"
          >
            <ion-icon
              class="iconLikes"
              name="heart"
              color="flylinkersRojo"
            ></ion-icon>
            <ion-label class="iconLikesText"
              >{{ post.likes }} {{ "likes" | translate }}</ion-label
            >
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <!--DAR LIKE A LA PUBLICACION-->
        <ion-col>
          <ion-item *ngIf="!post.liked_by_user" lines="none">
            <ion-icon
              name="heart-empty"
              (click)="generarLikePost(post.id_new)"
            ></ion-icon>            
          </ion-item>
          <ion-item *ngIf="post.liked_by_user" lines="none">
            <ion-icon
              name="heart"
              (click)="generarLikePost(post.id_new)"
              color="flylinkersRojo"
            ></ion-icon>            
          </ion-item>
        </ion-col>
        <!--END DAR LIKE A LA PUBLICACION-->

        <!--ICONO DE COMENTARIOS DE LA PUBLICACION-->
        <ion-col>
          <ion-item lines="none">
            <ion-icon name="text" (click)="showHideComments()"></ion-icon>
            <div *ngIf="post.count_comments > 0">{{post.count_comments}}</div>
          </ion-item>
        </ion-col>
        <!--END ICONO DE COMENTARIOS DE LA PUBLICACION-->

        <!--ICONO DE COMPARTIR LA PUBLICACION-->
        <ion-col>
          <ion-item lines="none">
            <ion-icon
              name="share"
              (click)="sharedPost(post.content,post.external_url_new,post.image_new,post.title)"
            ></ion-icon>
          </ion-item>
        </ion-col>
        <!--END ICONO DE COMPARTIR LA PUBLICACION-->
      </ion-row>
    </ion-grid>

    <form #formulario="ngForm" (ngSubmit)="saveComment(post.id_new)">
      <ion-list
        style="
          width: 100%;
          margin: 0px !important;
          border-radius: 0px;
          padding: 0px;
        "
      >
        <!--ESCRIBIR COMENTARIO PRINCIPAL-->
        <ion-item color="FlyLinkers-Blanco" [hidden]="hiddenComments">
          <ion-label position="floating"
            >{{ 'escribeComentario' | translate }}</ion-label
          >
          <ion-textarea
            type="text"
            name="comment"
            required="required"
            [(ngModel)]="comment.comment"
          ></ion-textarea>
          <ion-button
            color="flylinkers"
            type="submit"
            [disabled]="formulario.invalid"
            fill="outline"
            slot="end"
            >{{ 'enviar' | translate }}</ion-button
          >
        </ion-item>
        <!--END ESCRIBIR COMENTARIO PRINCIPAL-->

        <!--LISTADO DE TODOS LOS COMENTARIOS DE LA PUBLICACION-->
        <ion-item-group *ngFor="let comment of comments">
          <!--INFORMACION BASICA DE LAS PERSONAS QUE REALIZAN UN COMENTARIO-->
          <ion-item lines="none">
            <ion-avatar slot="start" (click)="viewProfile(comment.id_author)">
              <img
                src="https://flylinkers.com/media/{{(comment.comment_author_image !== '' )? comment.comment_author_image: 'avatar_2x.png' }}"
              />
            </ion-avatar>
            <ion-label (click)="viewProfile(comment.id_author)">
              <h3>
                {{comment.comment_firstname_author}}
                {{comment.comment_lastname_author}}
              </h3>
            </ion-label>
            <ion-icon
              slot="end"
              name="more"
              (click)="mostrarPop($event, comment.id_comment, comment.comment,post.id_new)"
              *ngIf="codeUser === comment.id_author"
            ></ion-icon>
          </ion-item>
          <!--END INFORMACION BASICA DE LAS PERSONAS QUE REALIZAN UN COMENTARIO-->

          <!-- COMENTARIO REALIZADO -->
          <ion-item lines="none">
            <p>{{ comment.comment }}</p>
          </ion-item>
          <!-- END COMENTARIO REALIZADO -->


          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <ion-item
                  *ngIf="comment.likes > 0"
                  (click)="openDetailLikesComment(comment.id_comment)"
                >
                  <ion-icon class="iconLikes" name="heart" color="flylinkersRojo"></ion-icon>
                  <ion-label class="iconLikesText">{{ comment.likes }} {{ "likes" | translate }}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
      


          <!--BOTONERA DE OPCIONES DE CADA COMENTARIO REALIZADO-->
          <ion-item slot="start">
            <ion-grid>
              <ion-row>
                <!--BOTON DE LIKES DE CADA COMENTARIO REALIZADO-->
                <ion-col>
                  <!--ICONO DE LIKE CUANDO EL USUARIO NO HA DADO LIKE-->
                  <ion-item lines="none" *ngIf="!comment.like_by_user">
                    <ion-icon
                      name="heart-empty"
                      (click)="generarLikeComment(comment.id_comment)"
                    ></ion-icon>                    
                  </ion-item>
                  <!--END ICONO DE LIKE CUANDO EL USUARIO NO HA DADO LIKE-->

                  <!--ICONO DE LIKE CUANDO EL USUARIO HA DADO LIKE-->
                  <ion-item lines="none" *ngIf="comment.like_by_user">
                    <ion-icon
                      name="heart"
                      (click)="generarLikeComment(comment.id_comment)"
                    ></ion-icon>                    
                  </ion-item>
                  <!--END ICONO DE LIKE CUANDO EL USUARIO HA DADO LIKE-->
                </ion-col>
                <!--END BOTON DE LIKES DE CADA COMENTARIO REALIZADO-->

                <!--ICONO PARA HACER UN RECOMENTARIO-->
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon
                      name="text"
                      (click)="getRecomments(comment.id_comment, post.id_new)"
                    ></ion-icon>
                    <div *ngIf="comment.count_recomments > 0">
                      {{comment.count_recomments}}
                    </div>
                  </ion-item>
                </ion-col>
                <!--END ICONO PARA HACER UN RECOMENTARIO-->
              </ion-row>
            </ion-grid>
          </ion-item>
          <!--END BOTONERA DE OPCIONES DE CADA COMENTARIO REALIZADO-->

          <!--****************************SECCION DE RECOMENTARIOS**********************************************************-->
          <ion-item
            [hidden]="comment.hiddenRecomments"
            [id]="comment.id_comment"
          >
            <form
              #formulario="ngForm"
              (ngSubmit)="saveRecomment(comment.id_comment, post.id_new)"
            >
              <ion-list
                [hidden]="comment.hiddenRecomments"
                style="
                  width: 100%;
                  margin: 0px !important;
                  border-radius: 0px;
                  padding: 0px;
                "
              >
                <ion-item color="FlyLinkers-Blanco" class="page-list">
                  <ion-label position="floating"
                    >{{ 'escribeComentario' | translate }}</ion-label
                  >
                  <ion-textarea
                    type="text"
                    name="comment"
                    [(ngModel)]="recomment.comment"
                    required="required"
                  ></ion-textarea>
                </ion-item>
                <ion-item lines="none">
                  <ion-button
                    color="flylinkers"
                    type="submit"
                    [disabled]="formulario.invalid"
                    fill="outline"
                    slot="start"
                    >{{ 'enviar' | translate }}</ion-button
                  >
                </ion-item>
                <ion-item *ngFor="let recomment of recomments">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-chip>
                          <ion-avatar
                            (click)="viewProfile(recomment.recomment_id_author)"
                          >
                            <img
                              src="https://flylinkers.com/media/{{(recomment.recomment_author_image !== '' )? recomment.recomment_author_image: 'avatar_2x.png' }}"
                            />
                          </ion-avatar>
                          <ion-label
                            (click)="viewProfile(recomment.recomment_id_author)"
                          >
                            <h3>
                              {{recomment.recomment_firstname_author}}
                              {{recomment.recomment_lastname_author}}
                            </h3>
                          </ion-label>
                          <ion-label>
                            <ion-icon
                              slot="end"
                              name="more"
                              (click)="mostrarPopRecomment($event, recomment.recomment_id, recomment.recomment ,post.id_new, recomment.comment_id)"
                              *ngIf="recomment.recomment_id_author === codeUser"
                            ></ion-icon>
                          </ion-label>
                        </ion-chip>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="2"> </ion-col>
                      <ion-col size="10">
                        <p>{{recomment.recomment}}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <!-- <ion-item slot = "start" *ngIf="!post.liked_by_user">
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-icon name="heart-empty"></ion-icon>
                        <div *ngIf="post.likes > 0"> {{post.likes}}</div>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-icon name="text" (click)="showHideComments()"></ion-icon>
                        <div *ngIf="post.count_comments > 0"> {{post.count_comments}}</div>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-item>           -->
              </ion-list>
            </form>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </form>
  </ion-card>
</ion-content>

<app-tab
  homeColor="flylinkersBlanco"
  networkColor="flylinkersBlanco"
  notificationsColor="flylinkersBlanco"
  messagesColor="flylinkersBlanco"
  newPostColor="flylinkersGrisOscuro"
></app-tab>
