<app-header-login
  titulo=" {{ 'primeros100' | translate }}  "
  botonRegreso="true"
></app-header-login>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label
        text-wrap="text-wrap"
        class="ion-text-justify"
      >
      {{ 'primeros100Mensaje' | translate }}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- El fixed agrega unos espacios y margenes a los lados del GRID o 
  tabla -->
  

  <ion-grid fixed>
    <!-- <ion-row>
        <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">Hola {{ i + 1 }}</ion-col>
      </ion-row> -->

    <ion-row class="ion-text-center">
      <!-- Se definen los tamanios, en teoria el xs en este caso sobraria, 
        debido a que si no reconoce ningun tipo de pantalla, cogeria el size 
        definido por defecto que seria 12 -->

      <ion-col
        size="12"
        size-lg="3"
        size-md="4"
        size-sm="6"
        size-xs="12"
        *ngFor="let partner of first100;"
      >
        <div class="bordeado">
          <ion-avatar class="image-center top-margin-20">
            <img src="https://flylinkers.com/media/{{(partner.image_perfil !== '' )? partner.image_perfil : 'avatar_2x.png' }}">
          </ion-avatar>
          <h3>{{partner.fistName}}  {{partner.lastName}}</h3>
          <p class="flylinkersColor">{{partner.profession}}</p>
          <p>{{partner.residence_country}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>


