<app-header search="true"></app-header>

<ion-content class="cards-bg social-cards">
  <ion-card *ngFor="let post of posts">
    <ion-item>
      <ion-avatar slot="start">
          <img src="https://flylinkers.com/media/{{(post.author_image_perfil !== '' )? post.author_image_perfil: 'avatar_2x.png' }}">
      </ion-avatar>
      <ion-label>
        <h3 slot="start">{{post.author_fistName}} {{post.author_lastName}}</h3>
        <p>{{post.author_profession}}</p>
      </ion-label>
      <ion-icon slot= "end" name="more" (click)="presentActionSheet()"></ion-icon>
    </ion-item>
    <ion-item lines="none" *ngIf=" post.title !== null">
      <h5 slot="start">{{ post.title }}</h5>
    </ion-item>
    <ion-card-content *ngIf=" post.content !== null">
        {{post.content}}
    </ion-card-content>
    <ion-item lines="none" *ngIf=" post.image_new !== ''">
      <ion-img src="https://flylinkers.com/media/{{post.image_new}}"></ion-img>
    </ion-item>
    <ion-item lines="none" *ngIf="(post.metadataImage !== '/' || post.metadataImage !== '/') && post.image_new === '' ">
      <ion-img [src]="post.metadataImage" style="width: 350px; height: auto;" >
      </ion-img>
    </ion-item>
    <ion-item lines="none" *ngIf="post.metadataTitle">
      <p>
        {{post.metadataTitle}}
      </p>
    </ion-item>
    <ion-item lines="none" *ngIf="post.metadataDescription">
      <p>
        {{post.metadataDescription}}
      </p>
    </ion-item>
    <!-- <ion-label><br>{{post.external_url_new}}</ion-label> -->
    <ion-item lines="none">
      <ion-label slot="start">
        <h3><br>{{post.publication_date | date: 'dd/MM/yyyy'}}</h3>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="!post.liked_by_user[0]">
          <ion-icon name="heart-empty" (click)="generarLikePost(post.id_new)"></ion-icon>
          <div *ngIf=" post.likes > 0" > {{post.likes}}</div>
        </ion-item>
        <ion-item *ngIf="post.liked_by_user[0]">
          <ion-icon name="heart" (click)="generarLikePost(post.id_new)"></ion-icon>
          <div *ngIf=" post.likes > 0" > {{post.likes}}</div>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="text" (click)="viewPost(post.id_new)"></ion-icon>
          <div *ngIf=" post.count_comments > 0" > {{post.count_comments}}</div>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="share"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- <ion-button
    expand="full"
    size="default"
    routerLink="/notification"
  >Notificaciones</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/messages"
  >Mensajes</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/event"
  >Eventos</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/home"
  >Inicio</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/network"
  >red</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/profile"
  >perfil</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/sponsor"
  >Patrocinadores</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/interests"
  >Intereses</ion-button> -->
</ion-content>

<app-tab
  homeColor="flylinkersGrisOscuro"
  networkColor="flylinkersBlanco"
  notificationsColor="flylinkersBlanco"
  messagesColor="flylinkersBlanco"
  newPostColor="flylinkersBlanco"
></app-tab>