<app-header search="true"></app-header>

<ion-content>
  <!-- <ion-button
    expand="full"
    size="default"
    routerLink="/notification"
  >Notificaciones</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/messages"
  >Mensajes</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/event"
  >Eventos</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/home"
  >Inicio</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/network"
  >red</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/profile"
  >perfil</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/sponsor"
  >Patrocinadores</ion-button>

  <ion-button
    expand="full"
    size="default"
    routerLink="/interests"
  >Intereses</ion-button> -->
</ion-content>

<app-tab
  homeColor="flylinkersGrisOscuro"
  networkColor="flylinkersBlanco"
  notificationsColor="flylinkersBlanco"
  messagesColor="flylinkersBlanco"
  newPostColor="flylinkersBlanco"
></app-tab>