<!-- Con el contentId se define donde se renderizara el contenido seleccionado 
    del menu, en este caso en ion-router-outlet el cual tiene tiene ese id -->

<ion-menu
  side="start"
  menuId="primerMenu"
  contentId="principal"
  swipeGesture="false"
>
  <ion-header>
    <ion-toolbar color="flylinkers">
      <ion-chip
        color="flylinkers"
      >
        <ion-avatar>
          <img src="https://flylinkers.com/media/{{(imagePerfil !== '' )? imagePerfil: 'avatar_2x.png' }}">
        </ion-avatar>

        <ion-label color="flylinkersBlanco">{{firstName}} {{lastName}} </ion-label>
      </ion-chip>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/master-page">
          <ion-icon
            name="home"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/profile">
          <ion-icon
            name="person"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>Perfil</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/notification">
          <ion-icon
            name="notifications"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>Notificaciones</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/messages">
          <ion-icon
            name="chatbubbles"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>Mensajes</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/interests">
          <ion-icon
            name="flag"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>Intereses</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/event">
          <ion-icon
            name="locate"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>Eventos</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/network">
          <ion-icon
            name="people"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>Red</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/sponsor">
          <ion-icon
            name="flag"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>Patrocinador</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/view-detail-post">
          <ion-icon
            name="person"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>View Post</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>